<h1>Company Name: <%= @company.name %></h1>
<p id="notice"><%= notice %></p>

<%= render 'form', company: @company %>


<ul class="list-group">
      <% @company.employees.each do |employee|%>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= employee.first_name %>
          <%= employee.last_name %>
          <%= employee.email %>
          <%= employee.area %>

          <br>
          <div class="btn-group">
            <%= link_to 'Destroy', employee_path(employee), class: "btn btn-danger text-right",
                        method: :delete,
                        data: { confirm: 'Are you sure? Like really? D:' } %>
          </div>
        </li>
      <% end %>
    </ul>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
