<h1>Company Name: <%= @company.name %></h1>
<p id="notice"><%= notice %></p>

<%= render 'form', company: @company %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
